/* common shared style */

.btn-primary{
    display: inline-flex;
    padding: 20px 43px;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
    color: white;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    border: 0;
}
 body{
    font-family: 'Lato';
    margin: 0;
    padding: 0;
} 

.text-primary{
  color: #E55473;;
}

/* header related style */

.banner{
    padding: 35px 35px 0px 150px; /* top right bottom left*/
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(229, 84, 115, 0.10);
}
.banner-content{
    max-width: 500px;
}
.banner .profile-pic{
    width: 635px;
    height: 800px;
    border-left: 100px;
    flex-shrink: 0;
    margin-right: 300px;
}
.banner-title{
    display: flex;
    width: 708px;
    flex-shrink: 0;
    color: #272727;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: center;
}
.banner-description{
    display: flex;
    width: 634px;
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-top: 32px;
    margin-bottom: 32px;

}

/* main section styles */
main{
    max-width: 1140px;
    
}
main section{
    margin-top: 130px;
    
}


/* Hot Deal section styles */
.hot-deal{
    width: 3000px;
    height: 620px;
    flex-shrink: 0;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    align-items: center;
    padding: 300px 1500px 0px 800px; /* top right bottom left*/
    
}
.deal-title{
    color: #272727;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    
}
.deal-description{
    display: flex;
    width: 594px;
    flex-shrink: 0;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.deal-pic .deal-sec-pic{
    width: 318px;
    height: 420px;
    flex-shrink: 0;
    margin-left: 1000px;
    position: relative;
    top: -370px;
}

/* Instagram style  */


 .insta-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding: 100px 1500px 0px 1400px; /* top right bottom left1200*/ 
    
}

.insta-description{
    display: flex;
    width: 594px;
    flex-shrink: 0;
   color: rgba(39, 39, 39, 0.60);
   text-align: center;
   font-size: 18px;
   font-style: normal;
   font-weight: 400;
   line-height: 30px;
   margin-top: 24px; 
   margin-bottom: 45px;
   padding: 0px 1200px; /* top right bottom left970*/

}
.insta-container{
    display: flex; 
    gap: 24px;
}
.insta-container, .insta{
    margin-left: auto;
    margin-right: 0px;
    width: 342px;
    height: 396px;
    flex-shrink: 0;
}

/* Latest Deal style */

.deal-text{
    position: relative;
    text-align: center;
    
}
.centered {
    position: absolute;
    top: 20%;
    left: 70%;
    color: #272727;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    transform: translate(150%, -50%);
   
  }
.deal-background{
    width: 1440px;
    height: 449px;
    flex-shrink: 0;
    display: block;
    margin-left: 800px;  
}
.deal-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    position: absolute;
    top: 22%;
    left: 120%;
}
textarea{
   width: 660px;
   height: 64px;
   flex-shrink: 0;
   color: rgba(39, 39, 39, 0.60);
   margin-bottom: 22px;
   border-radius: 8px;
   background: #FFF;
   border: 0;
   position: absolute;
    top: 45%;
    left: 96%;
  
}
.button-box{
    position: absolute;
    top: 45%;
    left: 156%;

}

/* Footer style */

.footer-column{
    display: flex;
    background: #111010;
    height: 449px;
    flex-shrink: 0;
    margin-top: 130px;
    width: 100%;
    text-align: center;
    /* padding: 240px 1100px; */
    
}
.footer-title{
    color: #FFF;
   font-size: 48px;
   font-style: normal;
   font-weight: 800;
   line-height: normal;
   position: absolute;
    top: 236%;
    left: 46%;
}
.footer-description{
    width: 625px;
   flex-direction: column;
   flex-shrink: 0;
   color: rgba(255, 255, 255, 0.999);
   font-size: 18px;
   font-style: normal;
   font-weight: 400;
   line-height: 30px;
   padding: 180px 1100px; /* up-down top-bottom*/
}
.copy-right{
    /* color: rgba(255, 255, 255, 0.40); */
    color: aqua;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 180px 1100px;
   
}